<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <style>
      .error {{ color: red; }}
    </style>
    <title> Member Signup</title>
  </head>
  <body>
    <h1> Member Signup </h1>
    <form action="/validate"method="post">
        <label> Username <input name="username" type="text" value="{{username}}" required />
        {% if name_error|length != 0%|}
        <span class="error"> {{name_error}} </span>
        {% endif %}
        <br>
        <label> Password <input name="password" type="password" value="{{pw}" required /> </label>
        {% if pw_error|length != 0%}
        <span class="error"> {{pw_error}} </span>
        {% endif %}
        <br>
        <label> Verify Password <input name="verify" type="password" value="{{ver_pw}}" required /> </label>
        <span class="error"> {{ver_pw_error}} </span>
        <br>
        <label> Email (optional) <input name="email" type="text" value="{{email}}" /> </label>
        {% if em_err|length != 0%}
        <span class="error"> {{em_err}} </span>
        {% endif %}
        <br>
      <input type="submit" value="Sign up!" />
    </form>
  </body>
</html>